<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3"role="alert">
        <h1><%= statusCode %></h1>
        <h4 class="alert-heading"><%=message  %></h4>
        <a href="/listings" class="btn btn-dark mt-3">Go Back Home</a>
    </div>
</div>