/* ========== BASE ========== */
body{
   font-family: 'Plus Jakarta Sans', sans-serif !important;
   display: flex;
   flex-direction:column ;
   min-height: 100vh;
}
.container{
    flex: 1;
}


/* ========== NAVBAR ========== */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important ;
}


/* ========== FOOTER ========== */

.f-info-links a{
    color: #555;
  text-decoration: none;
  margin: 0 4px;
}
.f-info-links a:hover {
    color: #555;
  text-decoration: none;
  margin: 0 4px;
}
.f-info{
     display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  color: #555;
  background: #fff;
}
.f-info-socials,
.f-info-links{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ==========CARDS ========== */
.listing-card{
    border: none !important;
    margin-bottom:2rem;
    
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-text p{
    font-weight:400;
}
.listing-link{
    text-decoration: none; /* remove a tag underline*/
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    
}
/* ==========new.ejs/ btn ========== */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d;
    border: none !important;
}

/* ==========show.ejs ========== */
.show-img{
    height:30vh;
}
.btns{
    display: flex;
}

.show-card{
    padding-left:0;

}
.edit-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}
